survey/frontend/node_modules/*
**/__pycache__/
**/.idea/**
**/*.ps1
survey/backend/data/results/online_eval/*.csv
survey/frontend/package-lock.json
survey/output.txt
survey/venv/**
**/api_log.log
**/.env
