# PyCharm (IDE) related directories
**/__pycache__/
**/.idea/**
**/*.ps1

# files generated when running the servers (log)
survey/frontend/node_modules/*
**/api_log.log
survey/frontend/package-lock.json
survey/output.txt
survey/venv/**

# files generated while receiving the results
survey/backend/data/results/online_eval/*.csv
survey/backend/data/clustered_results/**

# environmental variables to be kept safe
**/.env
